canvas {
    min-height: 10px;
    max-height: 10vh;
    width: calc(97vw - 200px - 1vw);
}  

#eyeDiagramCanvas {
    min-height: 15vh;
    max-height: 15vh;
    max-width: 20vw;
    min-width: 20vw;
}