:root {
  --bg-colour: #15181b;
  --text-colour: white;
  --dropdown-bg-colour: '#111111';
  --dropdown-item-bg-colour: '#222222';
}

body {
  background-color: var(--bg-colour);
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.left-menu {
    min-width: 200px;
    max-width: 25vw;
    margin: 10px;
    margin-top: 1.5vh;
    margin-left: 1vw;
    padding: 0;
    margin-right: 10px;
}

.input-menu {
  color: var(--text-colour);
  max-width: 10vw;
}

h4, h5 {
  color: var(--text-colour);
  margin: 0;
  margin-top: 0.2em;
}

h4 {
  font-size: 1.5vh;
}

h5 {
  margin-top: 0.5vh;
  font-size: 1.2vh;
}

.MathJax {
  margin: 0;
  font-size: 1.5vh !important;
}

mjx-container[jax="CHTML"][display="true"] {
  margin: 0 !important;

  padding-top: 0.5vh !important;
  padding-bottom: 0.5vh !important;
}

#p1Label {
  font-weight: 400;
  font-size: 1.4vh;
}